<div class="jumbotron text-center">
  <h1 style="font-size: 60px;">Successfully Signed Up!</h1>
  <p style="font-size: 25px; font-style: italic;">You'll be a Melody Master in no time!</p> 
</div>

<hr class="featurette-divider">
Successfully Signed Up!