<div class="jumbotron text-center" style="background-color: #ffffff">
  <h1>Bass Guitar Diagrams</h1>
  <p>Below, you will find simple diagrams teaching you the basics of how to play the bass guitar. Have fun!</p> 
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-6">
          <img class="featurette-image img-fluid mx-auto" src="/img/bass_guitar_frets.png" alt="Clarinet Diagram" style="margin-top: 10px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 95px;">Four stings. <span class="text-muted">Four Notes.</span></h2>
          <p class="lead text-left">Unlike a tradtional guitar which has six strings, a bass guitar only has four, not to mention they're thicker. Why, you might ask? Strum one and find out - their thicker strings allow for lower frequencies to be played which makes for some great muisc, if we do say so ourselves.</p>
        </div>
</div>

      <hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-13 push-md-7">
          <h2 class="featurette-heading pull-right" style="margin-top: 0px;">More frets. <span class="text-muted">More notes.</span></h2>
          <p class="lead">Once again, just like a traditional, six string guitar, a bass guitar uses frets to break up the musical scale at your disposal. Below you will find a handy diagram showing you all possible notes for a standard bass guitar. Feel free to experiment and see what you can come up with, regardless of genre - into hip-hop? Try it! Disco or funk? Bass has you covered.</p>
        </div>
        <div class="col-md-12 pull-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/img/bass_guitar_notes.png" alt="Bass Guitar Notes" style="margin-top: -130px; margin-bottom: -150px;">
        </div>
</div>

<hr class="featurette-divider">