<div class="jumbotron text-center" style="background-color: #ffffff">
  <h1>Cello Diagrams</h1>
  <p>Below, you will find simple diagrams teaching you the basics of how to play the cello. Have fun!</p> 
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-6">
          <img class="featurette-image img-fluid mx-auto" src="/img/cello_diagram.jpg" alt="Clarinet Diagram" style="margin-top: 10px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 145px;">The Cello. <span class="text-muted">Because size matters.</span></h2>
          <p class="lead text-left">Thanks to its large size, the cello is able to reach sounds that are nearly impossible to reach on its smaller cousins like the violin and viola. Lower in pitch and capable of deeper, warmer tones, the cello is a melodic force that rivals the violin. It's played sitting down and in between the players knees, with the end pin stuck in the floor for balance.</p>
        </div>
</div>

      <hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-5 push-md-7">
          <h2 class="featurette-heading pull-right" style="margin-top: 90px;">Not sure how to play? <span class="text-muted">We're happy to help.</span></h2>
          <p class="lead">Hold your hand in a 90 degree angle to strings on the cello fingerboard and try to spread apart your 2nd and 3rd fingers. Your 1st and 2nd fingers should be right next you, with your 3rd and 4th fingers outstretched. Pracitce this position and try to get a feel for the instrument.</p>
        </div>
        <div class="col-md-7 pull-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/img/cello_fingers.jpg" alt="Clarinet Notes" style="margin-top: 0px;">
        </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-6">
          <img class="featurette-image img-fluid mx-auto" src="/img/cello_notes.jpg" alt="Clarinet Diagram" style="margin-top: 10px;" width="1000" height="700">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading text-left" style="margin-top: 130px;">Take the next step. <span class="text-muted">Learning how to play.</span></h2>
          <p class="lead text-left">For a more extensive look into what can be achieved with the cello, check out this diagram. It provides you with all the available notes you can play with your cello. To start off, try repeating the last exercise, with your fingers in the 1st position. Try playing a different set of notes and compare the sound between the two. It might be intimidating, but through practicing on a regular basis, you'll be able to not only memorize this chart, but learn how each note sounds and where your fingers need to beed to accomplish your desired sound.</p>
        </div>
</div>

      <hr class="featurette-divider">