<div class="jumbotron text-center">
  <h1 style="font-size: 60px;">Congradulations!</h1>
  <p style="font-size: 25px; font-style: italic;">You're on your way to becoming a Melody Master!</p>
</div>

<hr class="featurette-divider">

<h2>Thanks, you paid <strong>$30.00</strong>!</h2>

<hr class="featurette-divider">