
<html lang="en">
<head>
  <title>Melody Master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1 style="font-size: 60px;">Learning is easy!</h1>
  <p style="font-size: 25px; font-style: italic;">Continue below for diagrams.</p> 
</div>

<hr class="featurette-divider">
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 align="center">Guitar</h3>
      <p align="center">This classic is a staple of the music industry, and for good reason. Learn to play your favorite tunes with Music Melody, today!</p>
      <p align="center">Continue below for our free guitar diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/guitar" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
    <div class="col-sm-4">
      <h3 align="center">Piano</h3>
      <p align="center">Ahh yes, the piano. A great challenge, but one that is worth your time, nonetheless. Play ageless classics with our help, today!</p>
      <p align="center">Continue below for our free piano diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/piano" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
    <div class="col-sm-4">
      <h3 align="center">Saxophone</h3>        
      <p align="center">While you can play this instrument in various genres, it is rightfully associated with Jazz. Lighten up this holiday season with us, today!</p>
      <p align="center">Continue below for our free saxophone diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">      
      <a class="btn btn-dark" href="/diagrams/saxophone" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top: 100px;" align="center">Drums</h3>   
      <p align="center">The heart of all music is rhythm, and you got to have a lot of heart if you want to play this fun instrument.</p>
      <p align="center">Continue below for our free drum diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/drums" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top: 100px;" align="center">Violin</h3>        
      <p align="center">Being the highest-sounding of the string instruments, the violin is arguably the most important instrument in an orchestra.</p>
      <p align="center">Continue below for our free violin diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/violin" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div><div class="col-sm-4">
      <h3 style="margin-top: 100px;" align="center">Clarinet</h3>        
      <p align="center">Not only does it have a great range, but it's fairly similar to the sax, so it's almost like learning two in one. Hmm. </p>
      <p align="center">Continue below for our free clarinet diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/clarinet" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top: 100px;" align="center">Bass Guitar</h3>        
      <p align="center">Responsible for keeping a song in its key, this instrument gives you the power to subtlely shape songs with what you play. </p>
      <p align="center">Continue below for our free bass guitar diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/bass_guitar" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top: 100px;" align="center">Cello</h3>  
      <p align="center">Truely be a part of the orchestra with this instrument: the melody, harmony, and bass line, often all in one piece!</p>
      <p align="center">Continue below for our free cello diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/cello" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div><div class="col-sm-4">
      <h3 style="margin-top: 100px;" align="center">French Horn</h3>        
      <p align="center">The most noble-sounding of the brass instruments in music. With a full, round, dark tone, it sounds both powerful and elegant.</p>
      <p align="center">Continue below for our free french horn diagrams and learn to play today!</p>
      <img class="featurette-image img-fluid mx-auto" src="/img/empty_space.png" alt="Clarinet Diagram" style="margin-top: 0px;" width="120" height="7">
      <a class="btn btn-dark" href="/diagrams/french_horn" role="button" style="background-color: #666666">Continue &raquo;</a>
    </div>
  </div>
</div>

<hr class="featurette-divider">

</body>
</html>