<div class="jumbotron text-center" style="background-color: #ffffff">
  <h1>Drum Diagrams</h1>
  <p>Below, you will find simple diagrams teaching you the basics of how to play the drums. Have fun!</p> 
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-7">
          <img class="featurette-image img-fluid mx-auto" src="/img/drums_layout.jpg" alt="Drums" style="margin-top: 0px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 110px;">Little Drummer Boy. <span class="text-muted">*Ba dum tss*</span></h2>
          <p class="lead text-left">A drum kit is actually a collection of different drums and cymbals. While, yes, hit with stick does go boom and tss, drumming requires an incredible amount of focus and coordination. Are you up to the task?</p>
        </div>
</div>

<hr class="featurette-divider">