<div class="jumbotron text-center" style="background-color: #ffffff">
  <h1>Guitar Diagrams</h1>
  <p>Below, you will find simple diagrams teaching you the basics of how to play the guitar. Have fun!</p> 
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-7">
          <img class="featurette-image img-fluid mx-auto" src="/img/guitar_notes.png" alt="Guitar Notes" style="margin-top: 10px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 50px;">Six simple strings. <span class="text-muted">Endless possibilities.</span></h2>
          <p class="lead text-left">A guitar has six strings as shown, with the top string being a low "E" and the bottom being a high "E". Strumming down on any of these strings produces the corresponding note.</p>
        </div>
</div>

      <hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading pull-right" style="margin-top: 25px;">Frets. <span class="text-muted">Where the magic happens.</span></h2>
          <p class="lead">Guitars can have anywhere from 19 to 27 of these bad boys. Though it sounds daunting, don't fret! On the picture shown the right, you will see the first twelve frets, which alone makes for some great music. Try playing any note at any fret and notice the difference in sound. Cool, huh!?</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" src="/img/guitar_frets.jpg" alt="Guitar Frets" style="margin-top: 5px;">
        </div>
</div>

<hr class="featurette-divider">


<div class="row featurette">
        
        <div class="col-md-7">
          <img class="featurette-image img-fluid mx-auto" src="/img/guitar_all_notes.jpg" alt="Guitar Notes" style="margin-top: 50px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 25px;">More Notes. <span class="text-muted">This is where the endless possibilities part comes in.</span></h2>
          <p class="lead text-left">Combining those six simple strings is what makes that beautiful sound we call music. Here, you'll find many of the notes available on your fretboard. Experiment and see what you can come up with!</p>
        </div>
</div>

<hr class="featurette-divider">