<div id="myCarousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
  <div class="carousel-item active">
    <img class="first-slide" src="/img/InvertedMusicalBorder.jpg" alt="First slide">
    <div class="container">
      <div class="carousel-caption d-none d-md-block text-left">
        <h1>What is Melody Master?</h1>
        <p>With Melody Master, you can learn how to play the instrument of your choice, in the comfort of your home. No driving. No lines. No hastle. Join today and become tomorrow's breakout hit.</p>
        <p><a class="btn btn-lg btn-primary" href="/sign_up" role="button">Sign up today</a></p>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <img class="second-slide" src="/img/MusicInstrumentsFinal.png" alt="Second slide">
    <div class="container">
      <div class="carousel-caption d-none d-md-block">
        <h1>LIMITED TIME OFFER!</h1>
        <p>We're giving the gift of music this holiday season! We'll soon be adding new instruments, but for now, enjoy free access to our most popular video for a limited time. Create a free account to take advantage of this offer or click the links below for quick access to diagrams of our most popular instruments. No account required!</p>
        <p><a class="btn btn-lg btn-primary" href="/videos" role="button">View Videos</a></p>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <img class="third-slide" src="/img/GuitarRainbow.png" alt="Third slide">
    <div class="container">
      <div class="carousel-caption d-none d-md-block text-right">
        <h1>Free Diagrams!</h1>
        <p>Create a free account today to view diagrams for a dozen differnt instruments. Learn terminology and the notes of each instrument today, and become a Melody Master tomorrow! Upgrade anytime to view exclusive video tutorials.</p>
        <p><a class="btn btn-lg btn-primary" href="/sign_up" role="button">View Diagrams</a></p>
      </div>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/img/sax_outline.jpg" alt="Logo" width="140" height="140" style="background-color: black">
          <h2>Saxophone</h2>
          <p>This Jazz favorite is sure to bring the roof down at your next shin-dig! Sign up today for a straightforward and fun learning experience and become the life of the party! Or don't. It's up to you.</p>
          <p><a class="btn btn-dark" href="/diagrams/saxophone" role="button" style="background-color: #666666">View Diagrams &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/img/Guitars_Outline_New.png" alt="Guitars" width="140" height="140">
          <h2>Guitar</h2>
          <p>Whether you're into rock or country, a 6 string guitar is a staple of the music industry. Take your musical passion to the next level and learn how to play your favorite songs with our help!</p>
          <p><a class="btn btn-dark" href="/diagrams/guitar" role="button" style="background-color: #666666">View Diagrams &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/img/piano_outline_new.png" alt="Piano" width="140" height="140">
          <h2>Piano</h2>
          <p>Everybody loves classical music! If you say you don't, you're lying to yourself. Learn to play some of humainities greatest musical achievements including works from Bach and Beethoven!</p>
          <p><a class="btn btn-dark" href="/diagrams/piano" role="button" style="background-color: #666666">View Diagrams &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        
        <div class="col-md-4">
          <img class="featurette-image img-fluid mx-auto" src="/img/guitar_green.jpg" alt="Guitar Man" style="margin-top: 20px;">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading text-left" style="margin-top: 180px;">Love Music? <span class="text-muted">Take your passion to the next level.</span></h2>
          <p class="lead text-left">With Melody Master, anyone can learn to play the music they love. Our fun and easy tutorials can make a master of you in no time!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading pull-right" style="margin-top: 25px;">Easy learning, on your terms. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Our free-to-use diagrams offer an exciting introduction into your music learning experience. However, if you really want to become a master, join today for $29.99/month for complete access.</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" src="/img/violin_pink.png" alt="Violin" style="margin-top: 5px;">
        </div>
      </div>

      <hr class="featurette-divider">

      

      <!-- /END THE FEATURETTES -->
