<div class="jumbotron text-center" style="background-color: #ffffff">
  <h1>Saxophone Diagrams</h1>
  <p>Below, you will find simple diagrams teaching you the basics of how to play the saxophone. Have fun!</p> 
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-6">
          <img class="featurette-image img-fluid mx-auto" src="/img/saxophone_diagram.jpg" alt="Saxophone Layout" style="margin-top: 10px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 190px;">Ya like Jazz?<span class="text-muted"> We do.</span></h2>
          <p class="lead text-left">This instrument sounds great in everything, and a lot of that is due to it's unique structure and design. If you need help finding your way around this baby, we've got you covered.</p>
        </div>
</div>

      <hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-5 push-md-7">
          <h2 class="featurette-heading pull-right" style="margin-top: 250px;">Notes.<span class="text-muted">That's some fancy fingerwork.</span></h2>
          <p class="lead">By blowing into your reed, you prouduce sound, however, to play music, you need the aid of your fingers. Our handy diagram shows you exactly where your fingers need to be to do just that.</p>
        </div>
        <div class="col-md-6 pull-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/img/saxophone_notes.png" alt="Saxophone Notes" style="margin-top: 0px;">
        </div>
</div>

<hr class="featurette-divider">