<div class="jumbotron text-center">
  <h1 style="font-size: 60px;">Upgrade Today!</h1>
  <p style="font-size: 25px; font-style: italic;">Gain access to our handy video tutorials with a monthly subscription.</p>
</div>

<hr class="featurette-divider">

<form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $30.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="3000"
            data-locale="auto"></script>
  </form>

<hr class="featurette-divider">