<div class="jumbotron text-center" style="background-color: #ffffff">
  <h1>Violin Diagrams</h1>
  <p>Below, you will find simple diagrams teaching you the basics of how to play the violin. Have fun!</p> 
</div>

<hr class="featurette-divider">

<div class="row featurette">
        
        <div class="col-md-7">
          <img class="featurette-image img-fluid mx-auto" src="/img/violin_diagram.png" alt="Violin Diagram" style="margin-top: 10px;" width="1000" height="700">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading text-left" style="margin-top: 105px;">Voila. <span class="text-muted">No, not viola, voila.</span></h2>
          <p class="lead text-left">The main differences between a violin and a viola is their size and sound, with violins being the smaller and higher pitched of the two. To the left, you will see a violin conviently labeled for your learning experience. You're welcome.</p>
        </div>
</div>

      <hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-5 push-md-7">
          <h2 class="featurette-heading pull-right" style="margin-top: 25px;">Notes. <span class="text-muted">Practice makes perfect.</span></h2>
          <p class="lead">Unlike a guitar, a violin doesn't have any frets. You might be asking yourself how you're supposed to know which notes you're playing. The answer is simple - practice, practice, practice. Use your bow to play some of the notes on screen and then try to replicate them on your own. Try experimenting with different notes and see what you come up with!</p>
        </div>
        <div class="col-md-7 pull-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/img/violin_notes.png" alt="Violin Notes" style="margin-top: 0px;">
        </div>
</div>

<hr class="featurette-divider">